@import './variables';
@import './mixins.scss';
@import './functions.scss';

.header {
  background-color: $purple;
  color: black;
  min-height: 20vh;
  display: flex;
  flex-grow: 1;

  .container {
    // @include width(100);
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: center;

    .header-title {
      color: darken(findInvert($purple), 10%);
      font-size: 3em;
    }

    .header-subtitle {
      font-size: 1.5em;
      color: darken(findInvert($purple), 10%);
    }
  }
}

.articles {
  .article-name {
    font-size: 1.2rem;
    padding: 7px;

    &:not(:last-child) {
      border-bottom: 1px dashed #ccc;
    }
  }
}

.greeting {
  font-size: 1.3rem;
}
